@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Toyota Viewer</h2>
<div>
    <span class="toggle-all">[<span class="symbol"></span>] <span class="action"></span> all</span>
    @RenderBody()
</div>