@model TME.CarConfigurator.Interfaces.ILink

<div class="clickable object">
    <p class="property" data-id="ID">ID : @Html.Raw(Model.ID)</p>
    <p class="property" data-id="Label">Label : @Html.Raw(Model.Label)</p>
    <p class="property" data-id="Name">Name : @Html.Raw(Model.Name)</p>
    <p class="property" data-id="Url">Url : @Html.Raw(Model.Url)</p>
</div>