@model TME.CarConfigurator.Interfaces.ISubModel
@Html.Partial("_baseObject", Model)

<p class="property" data-id="StartingPrice InVat">StartingPrice InVat : @Html.Raw(Model.StartingPrice.PriceInVat)</p>
<p class="property" data-id="StartingPrice ExVat">StartingPrice ExVat : @Html.Raw(Model.StartingPrice.PriceExVat)</p>
