<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="StartUrlTemplate" value="http://localhost:53192/Models/SelectCountryLanguage?CountryCode={country}&amp;LanguageCode={language}" />
  </appSettings>
</configuration>