@model IList<TME.CarConfigurator.Interfaces.IModel>


@foreach (var model in Model)
{
    <div class="clickable">
        <ul class="top">
            <li>
                @Html.Raw(model.Name + "\n")
                <div class="clickable">
                    <ul class="sub1">
                        @foreach (var t in model.Cars)
                        {
                            <li>
                                @Html.Raw(t.Name + "\n")
                            </li>
                        }
                    </ul>
                </div>
            </li>
        </ul>
    </div>
}