@model IList<TME.CarConfigurator.Interfaces.IModel>
@{
    ViewBag.Title = "Index";
}

<h2>Toyota Viewer</h2>
<div>
    <table>
        <tr>
            <td class="areaview">
                @Html.Partial("_Models",Model);
            </td>
            <td>
                
            </td>
        </tr>
    </table>
</div>