@model TME.FrontEndViewer.Models.CompareView<TME.CarConfigurator.Interfaces.IModel>
@{
    ViewBag.Title = "Index";
}

<h2>Toyota Viewer</h2>
<div>
    <table>
        <tr>
            <td id="oldarea" class="areaview">
                @Html.Partial("_Models",Model.OldReaderModel);
            </td>
            <td id="newarea" class="areaview">
                @Html.Partial("_Models",Model.NewReaderModel)
            </td>
        </tr>
    </table>
</div>
<script language="javascript">
    document.onload = {
        $('oldarea').in
    };
</script>