@model IEnumerable<TME.CarConfigurator.Interfaces.Assets.IAsset>


@foreach (var model in Model.OrderBy(x=> x.Name).ThenBy(x=>x.AssetType.Name))
{
    <div class="clickable">
        <table class="top">
            <tr>
                <td>
                    <b>@Html.Raw(model.Name), @Html.Raw(model.AssetType.Name)</b>
                </td>
            </tr>
        </table>
        @Html.Partial("_asset", model)
    </div>
}