@using TME.FrontEndViewer.Models
@model IEnumerable<TME.CarConfigurator.Interfaces.ISteering>


@foreach (var model in Model)
{
    <div class="object" data-id="@Html.Raw(model.ID)">
        <div class="title">
            <strong>@Html.Raw(model.Name)</strong>
        </div>
        <div class="content">
            @Html.Partial("_baseObject", model)
        </div>
    </div>
}