body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/



legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 600px;
    min-width: 400px;
}

.object .title {
    padding: 3px;
    cursor: pointer;
}

.object .content{
    display: none;
}

.object {
    margin-top: 10px;
}

.top {
    margin-bottom: 10px;
}

.sub1 {
    margin-left: 20px;
    margin-bottom: 10px;
}

.areaview {
    width: 600px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

table td { vertical-align: top;}


.object .content {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    background-color: white;
}

.object.missing > .title, .object.missing-sub-item.missing > .title {
     background-color: orange;
}

.object.missing > .content, .object.missing-sub-item.missing > .title {
     border-color: orange;
}

.object.wrong-order > .title, .object.wrong-order-sub-item.wrong-order> .title {
     background-color: turquoise;
}

.object.wrong-order > .content, .object.wrong-order-sub-item.wrong-order > .title {
     border-color: turquoise;
}

.object.mismatch > .title, .object.missing-sub-item > .title, .object.wrong-order-sub-item > .title {
     background-color: red;
}

.object.mismatch > .content, .object.missing-sub-item > .content, .object.wrong-order-sub-item > .content {
     border-color: red;
}

.property.mismatch {
    background-color: red;
}

.allowed-mismatch {
    background-color: #DEDEDE;
}

.toggle-all {
    cursor: pointer;
}