@model TME.FrontEndViewer.Models.CompareView<TME.CarConfigurator.Interfaces.ICar>
<h2>Toyota Viewer</h2>
<div>
    <table>
        <tr>
            <td id="oldarea" class="areaview">@Html.Partial("details",Model.OldReaderModel)</td>
            <td id="newarea" class="areaview">@Html.Partial("details",Model.NewReaderModel)</td>
        </tr>
    </table>
</div>
