@model IList<TME.CarConfigurator.Interfaces.IModel>


@foreach (var model in Model)
{
    <div class="clickable">
        <table class="top">
            <tr>
                <td>
                    <b>@Html.Raw(model.Name)</b>
                </td>
            </tr>
        </table>
        <div class="clickable object" data-id="@Html.Raw(model.ID)">
                @Html.Partial("_baseObject", model)
                <br/>
                <a href="">Assets</a> | @Html.ActionLink("Cars", "Index", "ModelCars", new { modelID=model.ID }, new {})
        </div>
    </div>
}