@model TME.CarConfigurator.Interfaces.Equipment.ICategoryInfo
<p class="property" data-id="ID">ID : @Html.Raw(Model.ID)</p>
<p class="property" data-id="Path">Path : @Html.Raw(Model.Path.ToLowerInvariant())</p>
<p class="property" data-id="SortIndex">SortIndex : @Html.Raw(Model.SortIndex)</p>