@model TME.CarConfigurator.Interfaces.Equipment.IOptionInfo
<p class="property" data-id="ShortID">ShortID : @Html.Raw(Model.ShortID)</p>
<p class="property" data-id="Name">Name : @Html.Raw(Model.Name)</p>