@using TME.FrontEndViewer.Models
@model TME.CarConfigurator.Interfaces.Colours.IUpholstery
@Html.Partial("_baseObject", Model)
<p class="property" data-id="Promoted">InteriorColourCode : @Html.Raw(Model.InteriorColourCode)</p>
<p class="property" data-id="Alpha">TrimCode : @Html.Raw(Model.TrimCode)</p>
@Html.Partial("_baseObjectWithPrefix", new BaseObjectWithPrefix() { BaseObject = Model.Type, Prefix = "Type" })