@model TME.FrontEndViewer.Models.CompareView<System.Collections.Generic.IReadOnlyList<TME.CarConfigurator.Interfaces.Colours.ICarColourCombination>>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>