@using TME.FrontEndViewer.Models
@model IEnumerable<TME.CarConfigurator.Interfaces.Assets.IVisibleInModeAndView>


@foreach (var model in Model)
{
    <div class="clickable">
        <table class="top">
            <tr>
                <td>
                    <b>@Html.Raw(model.Mode), @Html.Raw(model.View)</b>
                </td>
            </tr>
        </table>
        <div class="clickable object" data-id="@String.Format("{0}-{1}",model.Mode, model.View)">
            @foreach (var asset in model.Assets)
            {
                var assetWithPrefix = new AssetWithPrefix() { Asset=asset, Prefix = String.Format("{0}-{1}",model.Mode, model.View};
                  @Html.Partial("_assetWithPrefix", assetWithPrefix)
            }
        </div>
    </div>
}