@model IEnumerable<TME.CarConfigurator.Interfaces.IBodyType>

@foreach (var model in Model)
{
    <div class="clickable">
        <table class="top">
            <tr>
                <td>
                    <b>@Html.Raw(model.Name)</b>
                </td>
            </tr>
        </table>
        <div class="clickable object" data-id="@Html.Raw(model.ID)">
            @Html.Partial("_bodyType", model)
            <br />
            @Html.ActionLink("Assets","Index", "ModelBodyTypeAssets", new { modelID = ViewBag.ModelID, bodyTypeID = model.ID}, new { }) 
        </div>
    </div>
}