@model IEnumerable<TME.CarConfigurator.Interfaces.ILink>


@foreach (var model in Model)
{
    <div class="clickable">
        <table class="top">
            <tr>
                <td>
                    <b>@Html.Raw(model.Name), @Html.Raw(model.ID)</b>
                </td>
            </tr>
        </table>
        @Html.Partial("_link", model)
    </div>
}